# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

### Part II - VacationPy

Now let's use your skills in working with weather data to plan future vacations. Use jupyter-gmaps and the Google Places API for this part of the assignment.

* **Note:** if you having trouble displaying the maps try running `jupyter nbextension enable --py gmaps` in your environment and retry.

* Create a heat map that displays the humidity for every city from the part I of the homework.

  ![heatmap](Images/heatmap.png)

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key = "AIzaSyBg0BiXVa7UiwIiqDpP3Qa8LB6TybvBYRk"

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_weather = pd.read_csv("../WeatherPy/output_data/cities.csv")

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Customize the size of the figure
figure_layout = {
    'width': '1200px',
    'height': '900px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [4]:
# Plot Heatmap
#fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(city_weather[["Lat", "Lng"]], weights=city_weather["Humidity"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='900px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

* Narrow down the DataFrame to find your ideal weather condition. For example:

  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

  * **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

city_weather.columns

In [5]:
# vacation_cities = city_weather[(city_weather["Max_Temp"]>70.0) \
#                                & (city_weather["Max_Temp"]<80.0) \
#                                & city_weather["Wind_Speed"]<10]
vacation_cities = city_weather[
    (city_weather["Max_Temp"]>70.0) \
    & (city_weather["Max_Temp"]<80.0) \
    & (city_weather["Wind_Speed"]<10.0) \
    & (city_weather["Cloudiness"]==0)].copy()
vacation_cities

,City_ID,City,Country,Lat,Lng,Date,Max_Temp,Wind_Speed,Cloudiness,Humidity
47,1067565,Beloha,MG,-25.17,45.05,1583885349,71.98,9.60,0,76
61,2388036,Bossangoa,CF,6.49,17.46,1583885349,74.26,2.10,0,26
125,3527639,Felipe Carrillo Puerto,MX,19.58,-88.05,1583885683,75.88,4.99,0,70
132,2070998,Geraldton,AU,-28.77,114.60,1583885343,75.00,9.91,0,60
163,1045114,Inhambane,MZ,-23.86,35.38,1583885349,76.71,5.39,0,75
265,3430708,Mercedes,AR,-34.65,-59.43,1583885672,73.00,3.00,0,78
349,3520994,Puerto Escondido,MX,15.85,-97.07,1583885683,79.23,4.25,0,61
383,286621,Salalah,OM,17.02,54.09,1583885344,71.60,3.36,0,53
421,1255619,Srivardhan,IN,18.03,73.02,1583885351,71.35,6.13,0,75

* Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

* Plot the hotels on top of the humidity heatmap with each pin containing the **Hotel Name**, **City**, and **Country**.

  ![hotel map](Images/hotel_map.png)

As final considerations:

* Create a new GitHub repository for this project called `API-Challenge` (note the kebab-case). **Do not add to an existing repo**
* You must complete your analysis using a Jupyter notebook.
* You must use the Matplotlib or Pandas plotting libraries.
* For Part I, you must include a written description of three observable trends based on the data.
* You must use proper labeling of your plots, including aspects like: Plot Titles (with date of analysis) and Axes Labels.
* For max intensity in the heat map, try setting it to the highest humidity found in the data set.

In [24]:
# find the closest restaurant of each type to coordinates

# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# params = {
#     "location": "39.952583,-75.16522",  # philadelphia coords,
#     "radius": "5000",
#     "rankby": "distance",
#     "type": "lodging",
#     "key": g_key,
# }

# json = requests.get(base_url, params=params).json()
# json

#vacation_cities["Hotel"] = ""
hotel_name_list = list()

base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
for index, row in vacation_cities.iterrows():
    params = {
        "key" : g_key,
        "input" : "closest lodging",
        "inputtype" : "textquery",
        "language" : "en",
        "fields" : "formatted_address,name",
        "locationbias" : f"circle:5000@{row['Lat']},{row['Lng']}"
    }
    json = requests.get(base_url, params=params).json()
    if "TX" in json['candidates'][0]['formatted_address']:
        hotel_name = "No hotel within 5km"
    else:
        hotel_name = json['candidates'][0]['name']
    hotel_name_list.append(hotel_name)

In [25]:
vacation_cities['Hotel'] = hotel_name_list
vacation_cities

,City_ID,City,Country,Lat,Lng,Date,Max_Temp,Wind_Speed,Cloudiness,Humidity,Hotel
47,1067565,Beloha,MG,-25.17,45.05,1583885349,71.98,9.60,0,76,No hotel within 5km
61,2388036,Bossangoa,CF,6.49,17.46,1583885349,74.26,2.10,0,26,No hotel within 5km
125,3527639,Felipe Carrillo Puerto,MX,19.58,-88.05,1583885683,75.88,4.99,0,70,Hotel Y Restaurante El Faisan Y El Venado
132,2070998,Geraldton,AU,-28.77,114.60,1583885343,75.00,9.91,0,60,Rhodeside Lodge
163,1045114,Inhambane,MZ,-23.86,35.38,1583885349,76.71,5.39,0,75,Vertigo Lodge de Estaurio
265,3430708,Mercedes,AR,-34.65,-59.43,1583885672,73.00,3.00,0,78,Posada del Inti Centro
349,3520994,Puerto Escondido,MX,15.85,-97.07,1583885683,79.23,4.25,0,61,Selina Puerto Escondido
383,286621,Salalah,OM,17.02,54.09,1583885344,71.60,3.36,0,53,Al Baleed Resort Salalah by Anantara
421,1255619,Srivardhan,IN,18.03,73.02,1583885351,71.35,6.13,0,75,Tranquil Beach Resort

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
vacation_cities

,City_ID,City,Country,Lat,Lng,Date,Max_Temp,Wind_Speed,Cloudiness,Humidity,Hotel
47,1067565,Beloha,MG,-25.17,45.05,1583885349,71.98,9.60,0,76,No hotel within 5km
61,2388036,Bossangoa,CF,6.49,17.46,1583885349,74.26,2.10,0,26,No hotel within 5km
125,3527639,Felipe Carrillo Puerto,MX,19.58,-88.05,1583885683,75.88,4.99,0,70,Hotel Y Restaurante El Faisan Y El Venado
132,2070998,Geraldton,AU,-28.77,114.60,1583885343,75.00,9.91,0,60,Rhodeside Lodge
163,1045114,Inhambane,MZ,-23.86,35.38,1583885349,76.71,5.39,0,75,Vertigo Lodge de Estaurio
265,3430708,Mercedes,AR,-34.65,-59.43,1583885672,73.00,3.00,0,78,Posada del Inti Centro
349,3520994,Puerto Escondido,MX,15.85,-97.07,1583885683,79.23,4.25,0,61,Selina Puerto Escondido
383,286621,Salalah,OM,17.02,54.09,1583885344,71.60,3.36,0,53,Al Baleed Resort Salalah by Anantara
421,1255619,Srivardhan,IN,18.03,73.02,1583885351,71.35,6.13,0,75,Tranquil Beach Resort

In [29]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in vacation_cities[["Hotel","City","Country"]].iterrows()]
locations = vacation_cities[["Lat", "Lng"]]

In [30]:
# Create a list containing coordinates
coordinates = [
    (40.71, -74.00),
    (30.26, -97.74),
#     (46.87, -96.78),
#     (36.87, -96.78),
    (47.60, -122.33),
    (32.71, -117.16)
]# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='900px', margin='0 auto 0 auto', padding='1px', wi…

In [ ]:
# Add marker layer ontop of heat map


# Display Map